body{
    background-image: url('../img/Fot-7-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
h1{
    text-align: center;
    /* text-decoration: underline; */
    color: aliceblue;
}
/* #tabela{
    width: 115%;
} */
/* #1b3c47 */
#box{
    background-color: rgb(15, 15, 15, 0.5);
    color: rgb(233, 222, 222);
    width: 25%;
    /* 650px */
    height: 25%; 
    /* 400px */
    border-radius: 10%;
    box-sizing: border-box;
    float: left;
    margin-top: 5px;
    padding-left:10px;
    font-size: large;
    text-align: left;
}
/* .weatherwidget-io{
    
    
    border-radius:3.5cap;
    float: right;
    margin-top: 5px;
} */
/* #opis{
    text-align: justify;
} */
#bar{
    width: auto;
    background-color: rgb(15, 13, 13,0.8);
    padding: 5px;
    border-radius: 5cap;
}
#tytul{
    text-align: center;
    color: aliceblue;
    font-size: 50px
}
.map {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6cap;
    float:inline-start;
    float: left;
    /* -webkit-mask-image: linear-gradient(rgb(172, 34, 34), transparent 150%);
    mask-image: linear-gradient(rgb(255, 0, 0), transparent 150%); */
    
      }
.desc{
    padding-left: 50px;
    font-style: italic;
    color: aliceblue;
}



.box2{
    background-color: rgb(15, 15, 15, 0.5);
    color: rgb(233, 222, 222);
    width: 50%;
    /* 500px */
    height: 30%;
    /* 400px */
    border-radius: 4cap;
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
    padding-left:10px;
    font-size: large;
    
    
}
.spis{
    padding-left: 20px;
    text-align: justify;
    padding: top 20px;
    line-height: 1.5;
    color: aliceblue;

}
a:link {
    color: #c9bfbf;
  }
  a:visited {
    color: #e0cccc;
  }
  a:hover {
    color: #1c87c9;
  }
  a:active {
    color: #1c87c9;
  }

  @media only screen and (max-width<=2050.05px) {

    .map{
        float: left;
        
    }
    .box2{
        float: left;
    }
  }

#box3{
    background-color: rgb(15, 15, 15, 0.5);
    color: rgb(233, 222, 222);
    width: 25%;
    /* 650px */
    height: 450px; 
    /* 400px */
    border-radius: 10%;
    box-sizing: border-box;
    float: left;
    margin: 20px;
    padding-left:10px;
    font-size: large;
    text-align: left;
}
#podpis{
    text-align: left;
    float: left;
    padding-left: 5px;
    color: #e0cccc;
}