* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
body{
    background-image: url('../img/Studnici_hora1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#bar{
    width: auto;
    height: auto;
    background-color: rgb(15, 13, 13,0.8);
    padding: 5px;
    border-radius: 5cap;
}
#tytul{
    text-align: center;

    color: aliceblue;
}
#box{
    background-color: rgba(22, 19, 19, 0.7);
    color: rgb(233, 222, 222);
    width: 58%;
    height: 450px;
    border-radius: 8cap;
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
    padding-left:10px;
    font-size: large;
    text-align: left;
}



h2,h3{
    text-align: center;
}
img{
    border: 3px solid black;
    float: right;
    width: 41%;
    height: 40%;
    margin-top: 10px;
    margin-left: 1px;
    
    
}



a:link {
    color: #c9bfbf;
  }
  a:visited {
    color: #e0cccc;
  }
  a:hover {
    color: #1c87c9;
  }
  a:active {
    color: #1c87c9;
  }
#mapka{
    float: right;
    padding: 20px;
}
#podpis{
    text-align: left;
    float: left;
    padding-left: 5px;
    color: #e0cccc;
}